backend/.env
backend/*.exe
backend/*.log
backend/puppeteer/control.json
backend/puppeteer/reports/
backend/puppeteer/artifacts/
backend/puppeteer/node_modules/

frontend/.env
frontend/*.log
frontend/node_modules/
frontend/dist/
