backend/.env
backend/stream-sentry-users.json
backend/stream-sentry-test-history.json
backend/puppeteer/control.json
backend/puppeteer/reports/
backend/*.exe
backend/puppeteer/node_modules/

frontend/.env
frontend/node_modules/
frontend/dist/
